@import url('https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3e5b79;
    }
    
    form {
    padding: 50px 50px;
    box-shadow: 0 0 20px Irgb(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 340px;
    background-color: #a6afd7;
    font-family: "Happy Monkey", system-ui;
    font-weight: 900;
    font-style: normal;
    }
    
    form h2{
    color: #000;
    font-size: 25px;
    font-family: "Truculenta", sans-serif;
    font-optical-sizing: auto;;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    }

    form h1{
      color: #000;
      font-size: 35px;
      font-family: "Happy Monkey", system-ui;
    font-weight: 900;
    font-style: normal;
      }
    
    .form-txt{
    display: flex;
    font-family: "Truculenta", sans-serif;
    font-optical-sizing: auto;;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    }
    
    .form-txt a{
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    margin-bottom: 25px;
    }
    
    .form-txt a:hover{
    color: #12243a;
    }
    
    .input-group{
    display: flex;
    flex-direction: column;
    }
    
    input, textarea{
    background-color: #fff;
    padding: 20px 14px;
    margin-bottom: 25px;
    border: 0;
    border-radius: 10px;
    font-size: 15px;
    color: #000;
    font-family: "Truculenta", sans-serif;
    font-optical-sizing: auto;;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    }

select{
    background-color: #fff;
    padding: 20px 14px;
    margin-bottom: 25px;
    border: 0;
    border-radius: 10px;
    font-size: 15px;
    color: #000;
    font-family: "Truculenta", sans-serif;
    font-optical-sizing: auto;;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
    
    ::placeholder{
    color: #000;
    font-size: 15px;

    }
    
    :focus {
    color: #000;
    }
    
    .btn{
      font-family: "Happy Monkey", system-ui;
      font-weight: 400;
      font-size: xx-small;
      border-color: #6d2e02;
      border-width: 3px;
      border-style: solid;
      background-color: #b47846;
      color: black;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    
    .btn:hover{
    border-color: #6d2e02;
    }
    
    @media(max-width:991px){
    body{
    padding: 30px;
    }
    form{
    width: 100%;
    }
    }

    html {
        height: 100%;
      }
    
      .button_slide {
        height: 60px;
        width: 160px;
        font-family: "Happy Monkey", system-ui;
        font-weight: 400;
        font-style: normal;
        font-size: large;
        border-color: #6d2e02;
        border-width: 3px;
        border-style: solid;
        background-color: #b47846;
        color: black;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
      
      #outer {
        width: 364px;
        margin: 50px auto 0 auto;
        text-align: center;
      }

/* Navegador */
:root{
  --main-color:#fff;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: "Truculenta", sans-serif;
  font-optical-sizing: auto;;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.main-header{
  background: #3e5b79;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0; 
  z-index: 1000;
}

nav{
  position: fixed;
  left: 0;
  top: 50px;
  width: 200px;
  height: calc(100vh - 50px);
  background: #12243a;
  transform: translateX(-100%);
  transition: .4s ease;
  z-index: 1000;
}

.navigation li{
  list-style:none;
  font-size: 20px;
  width: 100%;
  border-bottom: 1px solid rgba(255,255,255,.5);
}

.navigation a{
  color:var(--main-color);
  display: block;
  line-height:3.5;
  padding: 0 10px;
  text-decoration:none;
  transition:.4s ease;
}

.navigation a:hover{
  transform:translateX(10%);
}

#btn-nav{
  display: none;
}

#btn-nav:checked ~ nav{
  transform:translateX(0);
}

.btn-nav{
  color:var(--main-color);
  font-size:30px;
  position: absolute;
  left:0;
  top:0;
  cursor:pointer;
  padding:6.5px 15px;
  transition:.2s ease;
  background:transparent
}

.btn-nav:hover{
  background: transparent;
}